# django
DJANGO_CONFIGURATION=BaseConfiguration
SECRET_KEY="hw^7polec^hp18%%stj8k=$v#gsl#zu$%^%bgg908cswiph^w%"

# postgresql
DB_NAME=virtual_day
DB_USER=virtual_day
DB_PASSWORD=virtual_day
DB_HOST=localhost
DB_PORT=5432

# email
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER='DaBEERman322@gmail.com'
EMAIL_HOST_PASSWORD=Aisultan12
FROM_EMAIL="default from emall"
EMAIL_PORT=25

# logging
LOGS_BASE_DIR=logs

# firebase json path
GOOGLE_APPLICATION_CREDENTIALS='D:\PycharmProjects\virtual_day\virtual_day\firebase\ServiceAccount.json'
